<div class="currency-converter__wrapper">
    <app-header style="width: 100%"></app-header>
    <div  class="currency-converter__container">
        <app-currency-input 
            [currencyData$$]="firstCurrencyData$$"
            [currencyDataModified$$]="firstCurrencyDataModified$$"
            str="FIRST CURRENCY INPUT"
        ></app-currency-input>
        <app-currency-input 
            [currencyData$$]="secondCurrencyData$$"
            [currencyDataModified$$]="secondCurrencyDataModified$$"
            str="SECOND CURRENCY INPUT"
        ></app-currency-input>
    </div>
</div>