<div>
    <form [formGroup]="currencyFormGroup" style="display: flex;">
        <mat-form-field appearance="fill">
            <mat-label>Amount</mat-label>
            <input matInput type="text" formControlName="currencyAmount" appCurrencyValue>
        </mat-form-field>
        <div class="separation-line"></div>
        <mat-form-field appearance="fill" style="width: 120px">
            <mat-label>Currency</mat-label>
            <mat-select formControlName="currency">
            <mat-option *ngFor="let currency of availableCurrencies" [value]="currency">
                {{ currency }}
            </mat-option>
            </mat-select>
        </mat-form-field>
    </form>
</div>